{{!-- <h1>Hello Template Engine</h1> --}}

{{!-- <enctype="multipa...data">複数のデータを取り扱える指定 --}}
<form action="/" method="post" enctype="multipart/form-data">
    <h3>画像アップロードする</h3>
    <input type="file" name="imageFile" accept="image/*" />
    <input type="submit" />
</form>